.button {
  display: inline-block;
  min-width: 167px;
  padding: 3px 22px;
  line-height: 36px;
  font-weight: 600;
  text-align: center;
  border: 0 none;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }

  &--border-white {
    color: $white;
    border: 2px solid $white;

    &:hover,
    &:focus {
      color: $orange;
      background-color: $white;
    }
  }

  &--background-white {
    color: $orange;
    background-color: $white;
    border: 2px solid $white;

    &:hover,
    &:focus {
      color: $white;
      border: 2px solid $white;
      background-color: $orange;
    }
  }

  &--border-orange {
    color: $orange;
    border: 2px solid $orange;

    &:hover,
    &:focus {
      color: $white;
      background-color: $orange;
    }
  }

  &--background-orange {
    color: $white;
    background-color: $orange;
    border: 2px solid $orange;

    &:hover,
    &:focus {
      color: $orange;
      background-color: $gray;
      border: 2px solid $orange;
    }
  }
}
