.footer {
  color: $white;
  background-color: $black;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  padding: 20px;

  @media (min-width: $md) {
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 80%;
    padding: 80px 0;
  }

  @media (min-width: $xl) {
    min-width: 1150px;
    max-width: 1160px;
  }
}

.footer__logo {
  display: none;

  @media (min-width: $xl) {
    display: flex;
    margin-bottom: auto;
  }

  .logo__text {
    color: $white;
  }
}

.footer__menu {
  padding-left: 24px;

  @media (min-width: $md) {
    width: 280px;
    padding: 0;
    column-count: 2;
    column-width: auto;
    column-gap: 30px;
  }

  @media (min-width: $md) {
    width: 350px;
    column-gap: 50px;
  }
}

.footer__menu-item {
  padding: 9px 0;
}

.footer__menu-link {
  font-weight: 600;
  color: $white;

  &[href]:hover,
  &:focus {
    color: $orange;
    box-shadow: 0 2px 0 0 $orange;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.footer__info-block {
  padding: 0 44px;
}

.footer__copyright {
  width: 230px;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  text-align: center;
}

.footer__social {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 9px 0;
}

.footer__social-link {
  display: flex;
  width: 40px;
  height: 40px;
  fill: $white;
  background-color: $orange;
  border-radius: 50%;

  &:not(:last-child) {
    margin-right: 10px;
  }

  svg {
    margin: auto;
  }

  &:hover,
  &:focus {
    fill: $orange;
    background-color: $white;
  }

  &:active {
    opacity: 0.3;
  }

}
