.header {
  background-color: $white;
}

.header__navigation {
  width: 90%;
  min-width: 280px;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 0;
  background-color: $white;

  @media (min-width: $md) {
    display: flex;
    justify-content: space-between;
    width: 85%;
    min-height: 100px;
    padding: 0;
  }

  @media (min-width: $xl) {
    width: 80%;
    max-width: 1160px;
  }
}

.header__logo {
  float: left;

  span {
    color: $orange;
  }
}

.header__button {
  position: relative;
  display: flex;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-bottom: 10px;
  padding: 0;
  background-color: $white;
  border: 0 none;
  cursor: pointer;

  @media (min-width: $md) {
    display: none;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 18px;
    left: 5px;
    height: 3px;
    width: 30px;
    background-color: $orange;
  }

  &::before {
    transform: rotate(45deg)
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active {
    opacity: 0.3;
  }

  &--open::after {
    position: absolute;
    content: "";
    top: 10px;
    left: 4px;
    width: 30px;
    height: 3px;
    background-color: $orange;
    box-shadow:
      0 8px 0 0 $orange,
      0 16px 0 0 $orange;
    transform: none;
  }

  &--open::before {
    display: none;
  }
}

.header__menu {
  @media (min-width: $md) {
    display: block;
    columns: 2 150px;
    padding: 17px 0 15px;
    color: $black;
    text-align: right;
  }

  @media (min-width: $xl) {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    padding: 33px 0 32px;
  }
}

.close-js {
  display: none;
}

.header__menu-item {
  display: block;
  padding: 0;
  border-top: 1px solid rgba(204, 88, 3, 0.1);

  @media (min-width: $md) {
    padding: 5px 10px;
    border: 0 none;
  }

  @media (min-width: $xl) {
    padding: 5px 23px;
  }

  &:last-child {
    @media (min-width: $xl) {
      padding-right: 0;
    }
  }
}

.header__menu-link {
  display: block;
  padding: 15px;
  font-weight: 600;
  text-align: center;
  color: $black;

  &[href]:active {
    color: $white;
    background-color: $orange;
  }

  @media (min-width: $md) {
    display: inline;
    padding: 0;
    text-align: left;

    &[href]:hover,
    &:focus {
      color: $orange;
      background-color: $white;
      box-shadow: 0 2px 0 0 $orange;
    }

    &[href]:active {
      opacity: 0.3;
    }
  }
}
