.logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 220px;

  @media (min-width: $md) {
    width: 280px;
  }

  @media (min-width: $xl) {
    width: 320px;
  }

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.logo__image {
  flex-shrink: 0;
  width: 40px;

  @media (min-width: $md) {
    width: 50px;
  }
}

.logo__text {
  margin: 0;
  padding: 10px 0 0 10px;
  font-size: 12px;
  font-weight: 800;
  line-height: 14px;
  white-space: normal;
  color: $black;

  @media (min-width: $md) {
    padding: 10px 0 0 18px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $xl) {
    font-size: 18px;
    line-height: 20px;
  }
}

.logo__version {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
}
