.posts__content-wrapper {
  width: 80%;
  margin: 0 auto;

  @media (min-width: $md) {
    width: 550px;
  }

  @media (min-width: $xl) {
    width: 760px;
    padding-bottom: 33px;
  }
}

.post__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
}

.posts__filters {
  display: flex;
  flex-wrap: wrap;
  margin: 39px auto 15px;

}

.posts__filter:not(:last-child) {
  margin-right: 30px;
}

.posts__item {
  margin-bottom: 40px;
}
