html,
body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  position: absolute;
  width: 1px;
}

body {
  min-width: $sm;
  margin: 0;
  padding: 0;
  background-color: $white;
  color: $black;
  font-family: $main-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
