// sizes
$sm: 320px;
$md: 768px;
$xl: 1160px;

// colors
$black: #1f1300;
$white: #ffffff;
$orange: #cc5803;
$gray: #f0f0f0;

//fonts
$main-font: "Open Sans", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
