.features {
  display: flex;
  padding-bottom: 30px;

  @media (min-width: 1260px) {
    padding-top: 80px;
    padding-bottom: 120px;
  }
}

.features__list {
  width: 80%;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 600px;
  }

  @media (min-width: 1260px) {
    display: flex;
    justify-content: space-between;
    width: 960px;
  }
}
